/* @font-face declaration for Barlow */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* @font-face declaration for Airstrike */
@font-face {
    font-family: 'Airstrike';
    font-style: normal;
    font-weight: 400;
    src: local('Airstrike'), local('Airstrike Regular'), local('Airstrike-Regular'), url(/fonts/airstrike/airstrike.ttf) format('truetype');
}

/* @font-face declaration for Qanelas */
@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 400;
    src: local('Qanelas'), local('Qanelas Regular'), local('Qanelas-Regular'), url(/fonts/qanelas/Qanelas-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 700;
    src: local('Qanelas'), local('Qanelas Bold'), local('Qanelas-Bold'), url(/fonts/qanelas/Qanelas-Bold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Qanelas';
    font-style: normal;
    font-weight: 800;
    src: local('Qanelas'), local('Qanelas ExtraBold'), local('Qanelas-ExtraBold'), url(/fonts/qanelas/Qanelas-ExtraBold.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
